.chatbot {
  display: flex;
  flex-direction: column;
  height: 90vh;
  background: white;
  padding: 24px;
  border-radius: 12px;
  overflow: scroll;
  width: 70vh;
}

.message-history {
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
